@import "src/calendar/styles/colors";
.footer{
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $borderColor;
  cursor: pointer;
  color: $linkColor;
  font-size: 13px;


  &:hover{
    background-color: $buttonHoverColorBg;
  }

  &_disabled {
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
      background-color: transparent;
    }
  }
}