:root{
    --borderColor: #dddfe0;
    --focusColor: #ffdd2d;
    --hoverColor: #fcc521;
}

$borderColor: #dddfe0;
$focusColor: #ffdd2d;
$hoverColor: #fcc521;
$weekendColor: #f52222;
$inIntervalDateColor: #ecf1f7;
$weekDayColor: rgba(0,0,0,.54);
$arrowEnabled: #336fee;
$linkColor: #336fee;

$buttonHoverColorBg: #e4ebf3;

